extends ../../_partials/layout.pug

block vars
  - bodyClass = 'articles'

block main

  - yearsArray = []

  each post in posts

    -
      const thisYear = post.date.split('-')[0];

      if (yearsArray.indexOf(thisYear) === -1) {
        yearsArray.push(thisYear);
      }

  - yearsArray.sort((a, b) => {return b-a});


  main
    .main-container.container
      .columns
        .column.is-two-thirds-widescreen.is-full
          .section.section-posts.section-articles


            each year in yearsArray

              h2.section-title(id=year) #{year}

              each post in posts

                - const isFiction = post.categories.includes(303);
                - const isPoetry = post.categories.includes(304);
                - const isAcademic = post.categories.includes(8);

                - const thisArticleYear = post.date.split('-')[0];

                if (!isAcademic && !isPoetry && !isFiction && thisArticleYear === year)

                  +post_thumb(post)

        .column.is-one-third-widescreen.is-full
          .aside.aside-articles
            h2.aside-title recent articles

            - let limit = 5;
            - let current = 0;

            each article in posts
              if (current < limit)

                - const isFiction = article.categories.includes(303);
                - const isPoetry = article.categories.includes(304);
                - const isAcademic = article.categories.includes(8);

                if (!isAcademic && !isPoetry && !isFiction)
                  article.post-thumb.post-thumb-aside
                    h3.title
                      a(href=`/article/${article.slug}`) #{article.title.rendered}
                    - const dateCzech = makeCzechDateFromYMD(article.date.split('T')[0]);
                    .date #{dateCzech}

                    - current = current + 1


          .aside.aside-categories

            h2.aside-title by year

            each date in yearsArray

              span.post-thumb.post-thumb-aside.post-thumb-aside-inline
                a(href=`/articles/by-year/#${date}`) #{date}

            .aside-footer
              a(href="#") show all by date

          .aside.aside-categories

            h2.aside-title categories

            - limit = 100;
            - current = 0;

            each category in categories
              if (current < limit)

                - const disabledCategories = ['journal', 'text', 'fiction', 'poetry', 'academic', 'essay', 'esej'];

                if (!disabledCategories.includes(category.slug) && category.count > 0)
                  article.post-thumb.post-thumb-aside
                    a(href=`/articles/category/#${category.slug}`) # #{category.name}

                  - current = current + 1

            .aside-footer
              a(href="/articles/category") show all categories



block foot

